.sg-task .sg-task-content {
  color: var(--gin-color-text-light);
}

.sg-task.stage--seeding {
  background: lightblue;
}

.sg-task.stage--transplanting {
  background: lightgreen;
}

.sg-task.stage--harvest {
  background: indianred;
}

.sg-task.log {
  margin-top: 5px;
  margin-left: -6px;
  width: 12px !important;
  height: 12px !important;
  border-radius: 12px !important;
}

.sg-task.log--seeding {
  background: darkblue;
}

.sg-task.log--transplanting {
  background: darkgreen;
}
.sg-task.log--harvest {
  background: darkred;
}
