.sg-task .sg-task-content {
  color: var(--gin-color-text-light);
}

.sg-task.stage--seeding {
  background-color: lightblue;
}

.sg-task.stage--transplanting {
  background-color: lightgreen;
}

.sg-task.stage--harvest {
  background-color: indianred;
}

.sg-task.log {
  margin-top: 6px;
  margin-left: -6px;
  width: 12px !important;
  height: 12px !important;
  background-color: black;
  border: 2px solid black;
  border-radius: 50% !important;
}

.sg-task.log-status--pending {
  background-color: transparent !important;
}

.sg-task.log--seeding {
  background-color: darkblue;
  border-color: darkblue;

}

.sg-task.log--transplanting {
  background-color: darkgreen;
  border-color: darkgreen;
}
.sg-task.log--harvest {
  background-color: darkred;
  border-color: darkred;
}

.sg-popup {
  z-index: 1000;
  background-color: var(--gin-bg-layer);
  border: 1px solid var(--gin-border-color-layer);
  box-shadow: var(--gin-shadow-l1);
  border-radius: var(--gin-border-s);
  padding: var(--gin-spacing-xs);
  font-size: var(--gin-font-size-s);
}

.sg-tree-expander {
  /*@TODO do this properly.*/
  mask-image: url('/themes/gin/dist/media/sprite.svg#handle-view');
  -webkit-mask-image: url('/themes/gin/dist/media/sprite.svg#handle-view');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-position: center center;
  margin-right: 0.5em;
  background-color: var(--gin-color-text);
  transform: rotate(90deg);
  transition: transform var(--details-transform-transition-duration) ease-in 0s;
}
.sg-row-expanded .sg-tree-expander {
  transform: rotate(270deg);
}
