table.farm-crop-plan {
  color: #333333;
}
table.farm-crop-plan th.current {
  background-color: #B6EB73;
}
table.farm-crop-plan td.planted {
  background-color: #D3FD9D;
}
table.farm-crop-plan td.transplanted {
  background-color: #B6EB73;
}
table.farm-crop-plan td.harvest {
  background-color: #A2DF54;
}
