form#farm-crop-plan-form {
  margin-top: 1em;
}
table.farm-crop-plan {
  color: #333333;
}
table.farm-crop-plan > tbody > tr > td {
  padding-left: 0;
  padding-right: 0;
}
table.farm-crop-plan > tbody > tr > td.planting-form {
  border: 0;
  padding: 0;
}
table.farm-crop-plan > tbody > tr > td.planting-form > div {
  padding-top: 8px;
}
table.farm-crop-plan > tbody > tr > td.left,
table.farm-crop-plan > tbody > tr > td.stage {
  padding: 8px;
}
table.farm-crop-plan th.current {
  background-color: #B6EB73;
}
table.farm-crop-plan td.seeding {
  background-color: #D3FD9D;
}
table.farm-crop-plan td.transplanting {
  background-color: #B6EB73;
}
table.farm-crop-plan td.harvest {
  background-color: #A2DF54;
}

/**
 * @todo
 * This should be in the farmOS theme, because it is Bootstrap specific.
 */
#ui-datepicker-div {
  z-index: 100 !important;
}
